<footer *ngIf="shopCart.items.length > 0" (click)="goToCart()" class="md-padding">
  <div class="row" >
    <p class="col-4" >Pedido:</p>
    <p class="col-4" >Items agregado: {{shopCart.items.length}}</p>
    <p class="col-4" >Total ( {{totalCount}} )</p>
  </div>
</footer>
