
  <div class="row">
    <app-category-card class = "col-sm-12 py-2 col-lg-3" [routerLink]="['/category-list', 'embutidos']"></app-category-card>
    <app-category-card class = "col-sm-12 py-2 col-lg-3"></app-category-card>
    <app-category-card class = "col-sm-12 py-2 col-lg-3"></app-category-card>
    <app-category-card class = "col-sm-12 py-2 col-lg-3"></app-category-card>
    <app-category-card class = "col-sm-12 py-2 col-lg-3"></app-category-card>
    <app-category-card class = "col-sm-12 py-2 col-lg-3"></app-category-card>
  </div>

