<div class="card text-center bg-dark text-white" style="width: 18rem;">
  <img src="../../../assets/embutidos.jpeg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h5 class="card-title">Embutidos</h5>
  </div>
</div>
