.card
  background-color: #fff
  border-bottom: 1px solid #ccc !important
  width: 100%


.card:hover
  background-color: #fafafa


.container-fluid
  display: flex
  justify-content: space-between
  padding: 2px 16px


.block-one
  display: flex
  justify-content: flex-start
  cursor: pointer


.block-two
  display: flex
  justify-content: flex-start
  align-items: center

.block-two-in
  width: 40%
  display: flex
  justify-content: space-between
  align-items: center


.sub-color
  color: #ccc
  margin-left: 20px


.main-color
  color: #333

img
  height: 100px
  width: 100px

.accordion p
  margin: 0

.accordion .card-header
  padding: 5px

.accordion .card-footer
  padding: 0
  text-align: center

.block-inside
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.contentOne
  padding: 10px

footer
  position: sticky
  left: 0
  bottom: 0
  width: 100%
  background-color: #00a4ff
  color: white
  text-align: center
