<ng-template [ngIf]="mobile" [ngIfElse]="notMobile">

  <div class="accordion" id="accordionExample">
    <div class="card" *ngFor="let card of itemsCartView; let i = index;">
      <div class="card-header" id="'headingOne'{{i}}">

                  <div class="block-two">
                    <p class="main-color" style="width: 50%" >{{card.description}}</p>
                    <p class="main-color">Total: {{card.amount}} </p>
                    <div class="block-two-in">
                      <p *ngIf="card.cant == 1" style="cursor: pointer" (click)="delete()"> <mat-icon>remove_shopping_cart</mat-icon></p>
                      <button *ngIf="card.cant > 1" type="button" class="btn btn-secondary" (click)="remove()" >-</button>
                      <input type="text"
                             placeholder="Input group example"
                             aria-label="Input group example"
                             [(ngModel)]="card.cant"
                             aria-describedby="btnGroupAddon"
                             style="width: 30px">
                      <button type="button" class="btn btn-secondary" (click)="addMore()" >+</button>
                    </div>
                  </div>

      </div>

      <div [id]="'collapseOne'+i" class="collapse " [attr.aria-labelledby]="'headingOne'+i" data-parent="#accordionExample">
        <div class="card-body block-inside">
          <img class="contentOne" [src]="card.img" alt="">
          <li *ngIf="card.cant && card.typeCant" class="contentOne">{{card.cant}}  {{card.typeCant}}</li>
          <li *ngIf="card.price && card.typeCant" class="contentOne">Precio por {{card.typeCant}}:  {{card.price}} </li>
        </div>
      </div>
      <div class="card-footer text-muted">
        <button
          [id]="i"
          class="btn btn-link"
          type="button"
          data-toggle="collapse"
          [attr.data-target]="'#collapseOne'+i"
          aria-expanded= false
          [attr.aria-controls]="'collapseOne'+i"
          (click)="toggleArrow(card)"
        >
          <mat-icon >{{  card.arrowDown  ? 'keyboard_arrow_down': 'keyboard_arrow_up'}}</mat-icon>
        </button>
      </div>

    </div>

  </div>

</ng-template>
<ng-template #notMobile>

  <div class="card" *ngFor="let itemProdCant of itemsCartView; let i = index;">
    <div class="container-fluid">
      <div class="block-one" >
        <img [src]="itemProdCant.img" alt="">
        <p class="main-color" style="width: 100%" >{{itemProdCant.description}}</p>
        <p class="main-color">Total: {{itemProdCant.amount}} </p>
      </div>
      <div class="block-two">
        <p style="margin-left: 20px; cursor: pointer" (click)="delete()"> <mat-icon>remove_shopping_cart</mat-icon></p>
        <button type="button" class="btn btn-secondary" (click)="remove()" >-</button>
        <input type="text"
               placeholder="Input group example"
               aria-label="Input group example"
               [(ngModel)]="itemProdCant.cant"
               aria-describedby="btnGroupAddon"
               style="width: 30px">
        <button type="button" class="btn btn-secondary" (click)="addMore()" >+</button>
      </div>
    </div>
  </div>

</ng-template>
<app-static-footer></app-static-footer>


