<mat-toolbar color="primary">
  <span>Carnes la colorada</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon [matBadge]="shopCart.items.length" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</mat-toolbar>

