<div class="message-box">
  <form class="classform"  #publicacionForm="ngForm" (ngSubmit)="onFormSubmit(model)">


    <mat-form-field>
      <input matInput type="text" #inputName maxlength="20" placeholder="A nombre de quien el pedido" required [(ngModel)]="model.costumerName" name="costumerName">
      <mat-hint aling="end">{{inputName.value?.length || 0 }}/20</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Telefono para contacto" [(ngModel)]="model.costumerTelephone" name="telephone" required>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Como hacemos con el pedido?"  [(ngModel)]="model.modeToRecive" name="modeToRecive" required >
        <mat-option value="send">Envio</mat-option>
        <mat-option value="takeAway">Lo Retiro</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-template [ngIf]="model.modeToRecive == 'send'" [ngIfElse]="takeAway" >
      <mat-form-field>
        <input matInput type="text" #inputAdress maxlength="20" placeholder="Dirección" required [(ngModel)]="model.costumerAdress" name="costumerName">
        <mat-hint aling="end">{{inputAdress.value?.length || 0 }}/20</mat-hint>
      </mat-form-field>
    </ng-template>
    <ng-template #takeAway>
      <div> RETIRA </div>
    </ng-template>

    <mat-form-field>
      <textarea matInput type="text" #inputComment maxlength="40" placeholder="Algun comentario" [(ngModel)]="model.costumerComment" name="comment"></textarea>
      <mat-hint align="end">{{inputComment.value?.length || 0 }}/40</mat-hint>
    </mat-form-field>


    <button mat-raised-button type="submit" [disabled]="!publicacionForm.valid">Enviar WhatsApp</button>

  </form>
</div>
