.example-container
  display: flex
  flex-direction: column


.example-container > *
  width: 100%


.example-form
  min-width: 150px
  max-width: 500px
  width: 100%


.message-box
  margin: 15% auto auto

mat-form-field
  width: 100%
  margin: 5px 0 5px 0
