<div class="card text-center " style="width: 20rem;">
  <img [src]="itemCard.item.img" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{itemCard.item.title}}</h5>
    <p class="card-text"> {{itemCard.item.description}} </p>
    <ul class="list-group list-group-flush">
      <li *ngIf="itemCard.item.cant && itemCard.item.typeCant" class="list-group-itemCart.item">{{itemCard.item.cant}}  {{itemCard.item.typeCant}}</li>
      <li *ngIf="itemCard.item.price && itemCard.item.typeCant" class="list-group-itemCart.item">Precio por {{itemCard.item.typeCant}}:  {{itemCard.item.price}} </li>
      <li class="list-group-item">Total {{itemCard.item.amount}} </li>
    </ul>
    <ng-template [ngIf]="itemCard.aggregated" [ngIfElse]="notAggregated">
      <div class="container-fluid">
        <div class="row">
            <a class="col-6 btn btn-primary" (click)="removeToCar()" >Quitar</a>
            <button type="button" class="col-2 btn btn-secondary" (click)="remove()" >-</button>
<!--            <label class="col-2"> 0 </label>-->
            <input type="text"
                   class="col-2 form-control"
                   placeholder="Input group example"
                   aria-label="Input group example"
                   [(ngModel)]="itemCard.cant"
                   aria-describedby="btnGroupAddon">
            <button type="button" class=" col-2 btn btn-secondary" (click)="addMore()" >+</button>
        </div>
      </div>
    </ng-template>
    <ng-template #notAggregated>
      <a class="btn btn-primary" (click)="addToCart()">Agregar</a>
    </ng-template>

  </div>
</div>

